body {
    padding: 0;
    margin: 0;
    background-color: rgb(24, 24, 23);
    color: rgb(170, 170, 160);
}

#addUserForm {
    width: 250px;
    background-color: #393737;
    border-radius:2px;
    position: absolute;
    top: 120px;
    left: 180px;
    padding: 10px;
}

#addUserForm input {
    width: 220px;
    height: 20px;
    border: 1px solid black;
    border-radius: 2px;
    margin-bottom: 5px;
}

#addBtn {
    margin-top: 20px;
    margin-left: 290px;
    background-color: #393737;
    border:none;
    border-radius:2px;
    color: rgb(170, 170, 160);
    padding: 6px;
    width: 46px;
    cursor: pointer;
    font-weight: bold;
}

#addBtn:hover {
    background-color: #2c2a2a;
    color: rgb(172, 172, 160);
}

#tableWrapper {
    width: 600px;
    margin-left: 20px;
    margin-top: 20px;
}

.table {
    width: 100%;
	border-collapse: collapse; 
}

.table th {
	background: #313030;
    font-weight: bold;
	padding: 5px;
}

.table td{
	padding: 5px 10px;
	border: 1px solid #393737;
	text-align: left;
}

.table td:first-child, .table th:first-child {
	border-left: none;
}
.table td:last-child, .tableth:last-child {
	border-right: none;
    width: 124px;
}

.editBtn,.delBtn {
    width: 60px;
    background-color: #393737;
    border:none;
    border-radius:2px;
    color: rgb(170, 170, 160);
    padding: 6px;
    cursor: pointer;
    font-weight: bold;
}

.editBtn:hover,.delBtn:hover {
    background-color: #2c2a2a;
    color: rgb(190, 190, 177);
}